*,
*::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

#particles-js {
  background-image: url("../images/dots.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box; }

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.header-primary {
  color: #eee;
  margin-bottom: 4rem; }
  .header-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    animation: moveInLeft 1.2s ease-out; }
  .header-primary--sub {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    animation: moveInRight 1.2s ease-out; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.btn:link, .btn:visited {
  color: #eee;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #eee;
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  color: lightgreen;
  border: 1px solid lightgreen;
  box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index hides the pesudo btn behind the real btn */
  z-index: -1;
  transition: all 0.4s; }

.btn--grey::after {
  background-color: rgba(138, 132, 132, 0.2); }

.btn--animated {
  animation: moveInBottom 1s ease-out 0.75s;
  animation-fill-mode: backwards; }
