@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

#particles-js {
  background-image: url("../images/dots.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.header-primary {
  color: #eee;
  margin-bottom: 4rem; }
  .header-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    animation: moveInLeft 1.2s ease-out; }
  .header-primary--sub {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    animation: moveInRight 1.2s ease-out; }

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #4a998e, #1c4069);
  -webkit-background-clip: text;
  color: transparent;
  margin-top: -2rem; }

.heading-tertiary {
  font-size: 2.6rem;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -20px;
  background-image: linear-gradient(to right, #4a998e, #1c4069);
  -webkit-background-clip: text;
  color: transparent;
  margin-top: -2rem; }

.paragraph {
  font-size: 1.6rem; }

.skills-front,
.skills-back {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4rem;
  margin-top: 4rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 9rem; }

.btn:link, .btn:visited {
  color: #eee;
  text-decoration: none;
  border: 1px solid #eee;
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  color: #28b485;
  border: 1px solid #28b485;
  box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.8) scaleY(2);
    opacity: 0; }

.btn:active {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index hides the pesudo btn behind the real btn */
  z-index: -1;
  transition: all 0.4s; }

.btn--grey::after {
  background-color: rgba(138, 132, 132, 0.2); }

.btn--animated {
  animation: moveInBottom 1s ease-out 0.75s;
  animation-fill-mode: backwards; }

.composition__profile {
  max-width: 100%;
  margin-bottom: 3rem;
  clip-path: polygon(50% 0%, 90% 25%, 90% 75%, 50% 100%, 10% 75%, 10% 25%); }

.composition__pic {
  width: 12%;
  margin: 5px; }

.composition__pic--1 {
  width: 19%; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 10rem 0; }
