//colors
$color-white: rgb(255, 255, 255);
$color-white-dark: #eee;
$color-black: black;
$color-blue-green: #28b485;
$color-main: #1c4069;
$color-main-second: rgb(11,33,48);
$color-main-light: #4a998e;
$color-main-dark: rgb(8,26,39);
$color-light-grey: rgb(138, 132, 132);


//font
$default-font-size: 1.6rem;
$medium-font-size: 2.6rem;
$large-font-size: 4rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

