* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#particles-js {
  background-image: url('images/dots.png');
  /* background-color: rgb(38, 41, 51); */
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header-primary {
  color: #eee;
  text-transform: uppercase;
}

.header-primary-main {
  display: block;
  font-size: 40px;
  font-weight: 700;
  animation: moveInLeft 1s ease-out;
}

.header-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  animation: moveInRight 1s ease-out;
}

.btn {
  color: #f9f3f4;
  text-decoration: none;
  border: 1px solid #eee;
  padding: 10px 15px;
  border-radius: 8px;
  line-height: 10em;
}

.btn:hover {
  color: lightgreen;
  border: 1px solid lightgreen;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0)
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0)
  }
}