.btn {
  &:link,
  &:visited {
    color: $color-white;
    // text-transform: uppercase;
    text-decoration: none;
    border: 1px solid $color-white;
    font-size: $default-font-size;
    padding: 1rem 1.5rem;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
  }

  &:hover {
    transform: translateY(-3px);
    color: $color-blue-green;
    border: 1px solid $color-blue-green;
    box-shadow: 0 1.2rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.8) scaleY(2.0);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index hides the pesudo btn behind the real btn */
    z-index: -1;
    transition: all 0.4s;
  }

  &--grey::after {
    background-color: rgba($color-light-grey, 0.2);
  }

  &--animated {
    animation: moveInBottom 1s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}