.composition {
  
  &__photo {
    width: 75%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    clip-path: polygon(30% 0%, 70% 0%, 90% 50%, 90% 50%, 70% 100%, 30% 100%, 10% 50%, 10% 50%);
  }
}