.composition {
  
  &__profile {
    max-width: 100%;
    margin-bottom: 3rem;
    // box-shadow: 5rem 1.5rem 4rem rgba($color-black, .4);
    clip-path: polygon(50% 0%, 90% 25%, 90% 75%, 50% 100%, 10% 75%, 10% 25%);
    // clip-path: polygon(30% 0%, 70% 0%, 90% 50%, 90% 50%, 70% 100%, 30% 100%, 10% 50%, 10% 50%);
  }

  &__pic {
    width: 12%;
    margin: 5px;
  }

  &__pic--1 {
    width: 19%;
  }
}