.project-row {
  display: flex;
  align-items: center;
}

.project-headers {
  font-size: $medium-font-size;
  text-align: left;
  margin-bottom: -3rem;
}

.project-paragraph {
  font-size: $default-font-size;
  margin-right: 5rem;
  padding-top: 1rem;
}

.project-photos {
  width: 50%;
  border-radius: 2rem;
}

.project-hr {
  width: 100%;
  border: 0;
  border-top: 1px solid rgb(167, 192, 183);
  margin-top: 6rem;
  margin-bottom: 6rem;
  position: relative;
}

.links {
  font-weight: 700;
  color: black;
  text-decoration: none;
  letter-spacing: .2rem;
  border-bottom: 1px solid black;
}

// .link:visited {
//   color: white;
//   background-color: black;
// }