body {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.header-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 4rem;

  &--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    -webkit-animation: moveInLeft 1.2s ease-out;
    animation: moveInLeft 1.2s ease-out;
  }

  &--sub {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    -webkit-animation: moveInRight 1.2s ease-out;
    animation: moveInRight 1.2s ease-out;
  }
}

.heading-secondary {
  font-size: $large-font-size;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  display: inherit;
  color: $color-section;
  -webkit-background-clip: text;
  margin-top: -2rem;
  margin-bottom: auto;
  // animation: moveInLeftLong 0.85s ease-out;
}

.visible {
  -webkit-animation: moveInLeftLong 0.85s ease-out;
  animation: moveInLeftLong 0.85s ease-out;
}

.invisible {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.barvisible {
  -webkit-animation: moveInLeftLong 0.75s ease both;
  animation: moveInLeftLong 0.75s ease both;
}

.section-bar {
  width: 7rem;
  height: 0.4rem;
  background: $color-section;
  margin: 0 auto 10rem;
  // animation: moveInLeftLong 0.75s ease both;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;

  &-contact {
    width: 7rem;
    height: 0.4rem;
    background: $color-white;
    margin: 0 auto 3rem;
    // animation: moveInLeftLong 0.75s ease both;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
}

.heading-tertiary {
  font-size: $medium-font-size;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -20px;

  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from($color-main-light),
    to($color-main)
  );

  background-image: linear-gradient(to right, $color-main-light, $color-main);
  -webkit-background-clip: text;
  color: transparent;
  margin-top: -2rem;
}

.heading-contact {
  color: $color-white;
  font-size: $large-font-size;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0;
  padding-top: 8rem;
  // animation: moveInLeftLong 0.85s ease-out;
}

.paragraph {
  font-size: $default-font-size;
  text-align: center;
  margin-bottom: 3.5rem;
  width: 85%;
}

.skills-front,
.skills-back {
  font-size: $default-font-size;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.footnote {
  color: $color-light-grey;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
