.section-about {
  background-color: $color-white;
  padding: 8rem 10vw 3vw 10vw;
}

.section-projects {
  background-color: $color-white-dark;
  padding: 8rem 10vw 31rem 10vw;
}

.section-contacts {
  background-color: $color-main-second;
  padding: 1rem 0;
  margin-top: -9rem;
  clip-path: polygon(50% 30%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.section-blog {
  background-color: $color-white;
  padding: 8rem 10vw 3vw 10vw;
}

.section-footer {
  background-color: $color-main-dark;
  padding-top: 3rem;
  margin-top: -.2rem;
  padding-bottom: 2rem;
}

hr {
  width: 30%;
  border: .5px solid $color-light-grey;
}

